header{
    text-align: center;
    padding: 25px;
    color: white;
}
.intro{
    padding: 20px;

}
body{
    background-color: black;
    color: white;
}
.cell ul{
    text-align: center;
    
}
.cell li a{
   
    
}